*{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #101016;
    color: #ffffff;
}

.icon-social{
    display: flex   ;
    justify-content: flex-end ;
    gap: 15px;
    margin: 15px 20px 0 0;
    font-size: 30px;
    position: relative;
}   

a{
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

a:hover{
    color: #ffc963;
    transition: 0.3s;
}

img#logo{
    height: 30%;
    width: 30%;
    display: inline-block;
    position: relative;
    padding: 0 0 0 100px;
}

.caixa{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: -55px;
}

.menu{
    display: flex;
    gap: 10px;    
    list-style-type: none;
    text-align: center;
    margin: 90px 170px 0 0;
    font-size: 23px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

img#banner{
    height: 100%;
    width: 99.55%;
    border-color: #000000;
    border-style: solid;
}

section#sobre{
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
    background: linear-gradient(#101016,#da7400);
}

img#burguersobre{
    height: 650px;
    margin: 0 100px 0 0;
    border-radius: 10px;
    transition: 0.3s;
    border-color: #000000;
    border-style: solid;
}

img#burguersobre:hover{
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.textosobre{
    margin: 40px 100px 0 100px;
}

.titulosobre{
    margin: 0 0 10px 0;
}

.paragrafosobre{
    margin: 0 0 10px 0;
}

section#cardapio{
    padding: 150px 0 0 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(#da7400,#611818);
}

.cardapio{
    font-size: 50px;
    margin-top: -75px;
    position: relative;
    padding-bottom: 110px;
}

.cardapio:hover{
    cursor: pointer;
}

.textocardapio{
    color: #000000;
    padding: 0 50px 0 0;
    font-weight: bold;
}
.titulocardapio{
    position: relative;
    margin: 0 0 10px 0;

}

.paragrafocardapio{
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 0 164px 0;
}

img#burguer{
    height: 210px;
    width: 340px;
    margin: 50px 100px 30px 50px;
    border-radius: 10px;
    border-color: #101016;
    border-style: solid;
    transition: 0.3s;
}

img#burguer:hover{
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}

.contato{
    font-size: 32px;
    color: #ccb950;
    
}

.contato:hover{
    cursor: pointer;
}

.burguer-footer{
    background-image: url("bg.jpg");
    display: flex;
    justify-content: space-evenly;
    padding: 15px 200px 15px 0;
}

.message-contato{
    display: flex;
    flex-direction: column;
}

img#logo-footer{
    height: 220px;
    margin: 0 25px 0 0;
}

.input-contato{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.input-email{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.input-message{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.enviar{
	margin: 5px 0;
    width: 100%;
	padding: 15px;
	background: orange;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	border: None;
	border-radius: 4px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover{
	background: darkorange;
	transform: scale(1.06);
}

.copyright{
    text-align: center;
    padding: 20px 0;
    background-image: url('bg.jpg');
}

/* Responsividade */
@media screen and (max-width: 800px) {
    
img#logo{
    height: 100%;
    width: 60%;
    padding: 0 20px 0 10px;
    text-align: center;
}
main{
    text-align: center;
}
img#burguer{
    width:90%;
    padding: 0 10px 0 0;
    height: 100%;
}   
h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

section#sobre{
    padding: 0 20px 0 10px;
}

nav ul li{
    margin: 0 0 0 10px;
}
table{
    height: 50%;
    padding: 0 20px 0 10px;
}
}
